@charset "UTF-8" ;
/* reset */
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    display: block;
}
@font-face {
    font-family: 'Pretendard-Thin';
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Light';
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Black';
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format('woff');
    font-weight: 900;
    font-style: normal;
}


header{width: 100%; background: #a1856e;height: 200px;}

/* 헤더 메뉴 바 */ 

header .menubar{width: 1700px;height: 74px;background: #ffe7da;display: flex;margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 60px;
    }

header .menubar h1 {margin-left: 80px; width: 200px;}

header .menubar a {color: #3f281f;font-family: 'Pretendard-Medium';font-size: 22px;opacity: 1;}

/* 로그인 */

header .login {}

header .login a {color:#943900; font-family: 'Pretendard-Medium';font-size: 18px;padding: 0 25px;}

section{width: 100%;margin: 250px auto 0 auto;}

/* 메뉴품목 */

.categori{ text-align: center;}

.categori a {font-size: 20px; 
    font-family: 'Pretendard-Bold'; 
    border-right:1px solid #943900; 
    display: inline-block; 
    height: 35px;
    padding: 0 30px; 
    line-height: 1.7;}

.categori a:first-child{border-left: 1px solid #943900;border-right: 0;}

.categori a:nth-child(2){background: #943900; color:#fff; border-radius: 5px;}

/* 메뉴간판 */

.beverage{   margin:167px auto 0 auto; text-align: center;}

.beverage h2{font-family: 'Pretendard-Bold'; color: #943900; font-size: 90px;}

.beverage em{ font-style: normal;
    font-family: 'Pretendard-Bold'; 
    font-size: 20px; 
    color: #943900; 
    margin-top: 10px;
    display: block;}

/* 비주얼 1번 */

.visual1{width: 100%;margin-top: 112px ; text-align: center;}

.visual1 a {display: inline-block; text-align: center; padding: 0 50px;}

.visual1 img { }

.visual1 p {margin-top: 15px; 
    font-size: 20px;
    font-family: 'Pretendard-Bold';}

.visual1 p span {color: #943900; font-size: 16px;font-family: 'Pretendard-Medium';padding-top: 15px;display: block;}

/* 비주얼 2번  */

.visual2{width: 100%;margin-top: 60px; text-align: center;}

.visual2 a {display: inline-block; text-align: center; padding: 0 50px;}

.visual2 img { }

.visual2 p {margin-top: 15px; 
    font-size: 20px;
    font-family: 'Pretendard-Bold';}

.visual2 p span {color: #943900; font-size: 16px;font-family: 'Pretendard-Medium';padding-top: 15px;display: block;}

/* 비주얼 3번 */

.visual3{width: 100%;margin-top: 60px; text-align: center;}

.visual3 a {display: inline-block; text-align: center; padding: 0 50px;}

.visual3 img { }

.visual3 p {margin-top: 15px; 
    font-size: 20px;
    font-family: 'Pretendard-Bold';}

.visual3 p span {color: #943900; font-size: 16px;font-family: 'Pretendard-Medium';padding-top: 15px;display: block;}


/* 푸터 */

footer{width: 100%;margin-top: 239px;;background: #a1856e; display: flex;}

footer h1 {  margin-left: 20% ;display: inline-block;}

footer p { font-size: 10px; text-align: center; 
        
        font-family: 'Pretendard-Light';  
        display: inline-block; 
        margin: 30px auto 0 auto;
        }

footer h1 img { width: 150px;}




